{% load crispy_forms_field %}

<!-- INPUT -->
<div class="d-flex justify-content-xl-center ms-xl-3">
    <div class="d-flex">
        <svg class="icon text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path></svg>

        <input type="file" name="{{field.name}}" class="custom-file-input file-field fileinput fileUpload form-control-file is-invalid" id="id_avatar">
        <div class="d-md-block text-left">
            <label class="custom-file-label fw-normal text-dark mb-1" id="inputFileLabel">Choose Image</label>
            <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
        </div>
    </div>
</div>
{% include 'bootstrap4/layout/help_text_and_errors.html' %}