{% extends "layouts/base.html" %}

{% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Личный кабинет</a></li>
                  <li class="breadcrumb-item active fw-bold" aria-current="page">Пополнение</li>
              </ol>
          </nav>
          <h2 class="h4">Пополнение</h2>
          <p class="mb-0">Выбирите способ пополнения</p>
      </div>
      <div class="btn-toolbar mb-2 mb-md-2">
          <span class="fs-4 fw-bold">Ваш баланс: </span> <span class="fs-4 fw-extrabold  ms-sm-1"> $ {{ request.user.money.balance }}</span>

      </div>
    </div>

    <div class="row">
        <!--USDT-->
        <div class="col-12 col-sm-12 col-xl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-12 text-xl-center mb-3 mb-xl-2 d-flex align-items-center justify-content-xl-center justify-content-md-center justify-content-sm-center">
                            <div class="icon-shape icon-shape-success rounded me-4 me-sm-4">
                                <img src="{% static 'assets/img/icons/tether-usdt-logo.png' %}" style="height:2.8rem;">
                            </div>
                            <div>
                                <h2 class="h5">[TRC-20]</h2>
                                <h3 class="fw-extrabold mb-1">USDT</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-12 px-xl-0">
                            <div class="small d-flex mt-1">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="USDTValue" value="TN6Xe4KCP3wsAoJ5cM2fLiB5tu9ay2ZQ3K" readonly>
                                    <span class="input-group-text" id="basic-addon2" onclick="USDTcopyToClipboard()">
                                        <i class="fa-regular fa-clipboard"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bitcoin -->
        <div class="col-12 col-sm-12 col-xl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-12 text-xl-center mb-3 mb-xl-2 d-flex align-items-center justify-content-xl-center justify-content-md-center justify-content-sm-center">
                            <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-4">
                                <img src="{% static 'assets/img/icons/bitcoin-btc-logo.png' %}" style="height:2.8rem;">
                            </div>
                            <div>
                                <h2 class="h5">[BEP-20]</h2>
                                <h3 class="fw-extrabold mb-1">Bitcoin </h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-12 px-xl-0">
                            <div class="small d-flex mt-1">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="BTCValue" value="0x20184b6a938d228fef422f9be0c731b595b01c3e" readonly>
                                    <span class="input-group-text" id="basic-addon2" onclick="BTCcopyToClipboard()">
                                        <i class="fa-regular fa-clipboard"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ethereum -->
        <div class="col-12 col-sm-12 col-xl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-12 text-xl-center mb-3 mb-xl-2 d-flex align-items-center justify-content-xl-center justify-content-md-center justify-content-sm-center">
                            <div class="icon-shape icon-shape-warning rounded me-4 me-sm-4">
                                <img src="{% static 'assets/img/icons/binance-coin-bnb-logo.png' %}" style="height:2.8rem;">
                            </div>
                            <div>
                                <h2 class="h5">[BEP-20]</h2>
                                <h3 class="fw-extrabold mb-1">Ethereum</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-12 px-xl-0">
                            <div class="small d-flex mt-1">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="ETHValue" value="0x20184b6a938d228fef422f9be0c731b595b01c3e" readonly>
                                    <span class="input-group-text" id="basic-addon2" onclick="ETHcopyToClipboard()">
                                        <i class="fa-regular fa-clipboard"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
