{% extends "layouts/base.html" %}

{% load static %}




<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
          <div class="d-block mb-4 mb-md-0">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                  <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                      <li class="breadcrumb-item">
                          <a href="#">
                              <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                          </a>
                      </li>
                      <li class="breadcrumb-item"><a href="#">Личный кабинет</a></li>
                      <li class="breadcrumb-item active fw-bold" aria-current="page">Инвестиции</li>
                  </ol>
              </nav>
              <h2 class="h4">Инвестиции</h2>
              <p class="mb-0">Инвестиционные пакеты</p>
          </div>

    </div>


    <div class="row">
        <div class="col-12 col-xl-12">

            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">Сделайте свой выбор</h2>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light">
                    <h2 class="h5 mb-0">Пакет 1</h2>
                </div>
                <div class="card-body">
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Сумма пополнения $</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Процент %</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Период</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в день</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-5">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в месяц</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <a href="#" class="btn btn-secondary d-flex align-items-center justify-content-center btn-up-grade-pro">Инвестировать</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light">
                    <h2 class="h5 mb-0">Пакет 2</h2>
                </div>
                <div class="card-body">
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Сумма пополнения $</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Процент %</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Период</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в день</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-5">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в месяц</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <a href="#" class="btn btn-secondary d-flex align-items-center justify-content-center btn-up-grade-pro">Инвестировать</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light">
                    <h2 class="h5 mb-0">Пакет 3</h2>
                </div>
                <div class="card-body">
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Сумма пополнения $</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Процент %</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Период</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в день</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-5">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в месяц</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <a href="#" class="btn btn-secondary d-flex align-items-center justify-content-center btn-up-grade-pro">Инвестировать</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light">
                    <h2 class="h5 mb-0">Пакет 4</h2>
                </div>
                <div class="card-body">
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Сумма пополнения $</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Процент %</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Период</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в день</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-5">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в месяц</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <a href="#" class="btn btn-secondary d-flex align-items-center justify-content-center btn-up-grade-pro">Инвестировать</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light">
                    <h2 class="h5 mb-0">Пакет 5</h2>
                </div>
                <div class="card-body">
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Сумма пополнения $</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Процент %</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Период</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в день</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-5">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в месяц</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <a href="#" class="btn btn-secondary d-flex align-items-center justify-content-center btn-up-grade-pro">Инвестировать</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light">
                    <h2 class="h5 mb-0">Пакет 6</h2>
                </div>
                <div class="card-body">
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Сумма пополнения $</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Процент %</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Период</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в день</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-5">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в месяц</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <a href="#" class="btn btn-secondary d-flex align-items-center justify-content-center btn-up-grade-pro">Инвестировать</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light">
                    <h2 class="h5 mb-0">Пакет 7</h2>
                </div>
                <div class="card-body">
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Сумма пополнения $</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Процент %</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Период</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в день</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-5">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в месяц</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <a href="#" class="btn btn-secondary d-flex align-items-center justify-content-center btn-up-grade-pro">Инвестировать</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light">
                    <h2 class="h5 mb-0">Пакет 8</h2>
                </div>
                <div class="card-body">
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Сумма пополнения $</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Процент %</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Период</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в день</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-5">
                        <div class="col-auto">
                            <span class="icon icon-md text-purple">
                                <span class="fab fa-bootstrap"></span>
                            </span>
                        </div>
                        <div class="col">
                            <div class="h6 mb0">Доход в месяц</div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-2">
                        <a href="#" class="btn btn-secondary d-flex align-items-center justify-content-center btn-up-grade-pro">Инвестировать</a>
                    </div>
                </div>
            </div>

        </div>
    </div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
